{% extends 'main/users.html.twig' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <p><strong>Nombre completo:</strong> <span>{{ user.nombre }} {{ user.apellidos }}</span></p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <p><strong>DNI:</strong> <span>{{ user.dni }}</span></p>
        </div>
        <div class="col-md-4">
            <p><strong>Fecha de nacimiento:</strong> <span>{{ user.birthday|date('Y-m-d') }}</span></p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p><strong>Direcci&oacute;n:</strong> <span>{{ user.provincia }}, {{ user.poblacion }}, {{ user.domicilio }}</span></p>
        </div>
    </div>
    <div class="row">
        {% for prestamo in user.prestamos %}
            <div class="col-md-6">
                <div class="product-item">
                    <div class="down-content">
                        <a href="/book/{{ prestamo.libroId.id }}"><h4>{{prestamo.libroId.titulo}}</h4></a>
                        <p>Fecha de devoluci&oacute;n: <strong>{{ prestamo.returnDate|date('Y-m-d') }}</strong></p>
                        <p>Fecha en la que se presto el libro: <strong>{{ prestamo.completionDate|date('Y-m-d') }}</strong></p>
                        <p>Fecha maxima de devoluci&oacute;n: <strong>{{ prestamo.maxDelayDate|date('Y-m-d') }}</strong></p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}