{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <form class="well form-horizontal" action="/prestamo/add" method="post" id="contact_form">
            <fieldset>
                <!-- Form Name -->
                <legend>
                    <center>
                        <h2>
                            <b>Prestamo</b>
                        </h2>
                    </center>
                </legend><br>

                <!-- Text input-->

                <div class="form-group">
                    <label class="col-md-4 control-label">Usuario:</label>
                    <div class="col-md-4 inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="glyphicon glyphicon-user"></i>
                            </span>
                            <select name="user_id">
                                {% for user in users %}
                                    <option value="{{ user.id }}">{{ user.nombre }} {{ user.apellidos }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>

                <!-- Text input-->

                <div class="form-group">
                    <label class="col-md-4 control-label">Libro:</label>
                    <div class="col-md-4 inputGroupContainer">
                        <div class="input-group">
                            <select name="book_id">
                                {% for book in books %}
                                    <option value="{{ book.id }}">{{ book.titulo }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>

                <!-- Text input-->

                <div class="form-group">
                    <label class="col-md-4 control-label">Fecha de entrega:</label>
                    <div class="col-md-4 inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="glyphicon glyphicon-user"></i>
                            </span>
                            <input name="returnDate" placeholder="Last Name" class="form-control" type="date">
                        </div>
                    </div>
                </div>

                <!-- Date input-->

                <div class="form-group">
                    <label class="col-md-4 control-label">Fecha maxima de entrega:</label>
                    <div class="col-md-4 selectContainer">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="glyphicon glyphicon-user"></i>
                            </span>
                            <input name="maxDelayDate" placeholder="01/01/2002" class="form-control" type="date">
                        </div>
                    </div>
                </div>

                <!-- Button -->
                <div class="form-group">
                    <label class="col-md-4 control-label"></label>
                    <div class="col-md-4"><br>
                        <button type="submit" class="btn btn-warning">SUBMIT</button>
                    </div>
                </div>

            </fieldset>
        </form>
    </div>
{% endblock %}